<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>
    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <div class="brand">TiJarat</div>
    <div class="address-bar">Address</div>
<nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-tabs" role="tablist">
  					<li class="active"><a href="#tab1" role="tab" data-toggle="tab">Tab1</a></li>
  					<li><a href="#tab2" role="tab" data-toggle="tab">Tab2</a></li>
  					<li><a href="#tab3" role="tab" data-toggle="tab">Tab3</a></li>
  					<li><a href="#tab4" role="tab" data-toggle="tab">Tab4</a></li>
				</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



</head>
<body>
    <!-- Navigation -->
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="tab-content">
  					<div class="tab-pane active" id="tab1"><h3><strong>Tab1 Content</strong></h3>
  					<br><br><br><br><br><br><br><br><br><br><br><br>
  					<br><br><br><br><br><br><br><br><br><br><br><br>
  					</div>
  					<div class="tab-pane" id="tab2"><h3><strong>Tab2 Content</strong></h3>
  						<br><br><br><br><br><br><br><br><br><br><br><br>
  					<br><br><br><br><br><br><br><br><br><br><br><br>
  					</div>
  					<div class="tab-pane" id="tab3"><h3><strong>Tab3 Content</strong></h3>
  					<br><br><br><br><br><br><br><br><br><br><br><br>
  					<br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
  					<div class="tab-pane" id="tab4"><h3><strong>Tab4 Content</strong></h3>
  					<br><br><br><br><br><br><br><br><br><br><br><br>
  					<br><br><br><br><br><br><br><br><br><br><br><br></div>
				</div>
            </div>
        </div>


        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Lorem Ipsum
                        <strong>dummy text</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/assets/index/pani.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac enim sit amet mi auctor bibendum. Vestibulum tortor tortor, egestas at ex sed, dictum congue nisi. Phasellus sagittis massa nisl, et iaculis justo rhoncus sit amet. Donec fermentum felis lectus, eu laoreet lorem consequat a. Quisque vestibulum feugiat ante non venenatis. Mauris eget sodales augue. Nullam quis elementum ipsum, in pharetra tortor. Aliquam in congue ipsum. Etiam malesuada interdum velit, in sodales orci porttitor ut. Vivamus velit purus, lobortis a enim vel, congue vestibulum lectus.</p>
                </div>
            </div>
        </div>

<!--
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Beautiful boxes
                        <strong>to showcase your content</strong>
                    </h2>
                    <hr>
                    <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })

    $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
    </script>

</body>

<script>
